auth.txt
.vscode
migrations/
media/
logs/
.env/

# Cache, migrations
*.pyc
_ pycache _
*/migrations/*
__pycache__/*
project/__pycache__/
apps/candidates/__pycache__/
apps/candidates/migrations/
apps/users/__pycache__/
apps/users/migrations/
apps/job_offers/__pycache__/
apps/job_offers/migrations/

documents
pictures

*.DS_Store

*.sqlite3