{% extends "base.html" %}
{% block container %}


 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Ofertas de Empleo</h1>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
	 <div class="card-header py-3">
         
            <!-- modal link candidate -->
            <div class="modal fade bd-example-modal-sm" id="linkCandidate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                   
                    <div class="modal-body">
                      <h5> Copia el enlace para invitar al candidato </h5>
                        
                      <div class="input-group mb-3">
                        <input type="text" id="link_candidate_copy" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary"" type="button" onclick="BtnCopyLink();">Copiar</button>
                        </div>
                      </div>
                      
                    </div>
                    
                </div>
                </div>
            </div>	
    




            <!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Candidato</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--- form -->					
                        <form method="POST"  onsubmit="CreateCandidate(event);" enctype="multipart/form-data" id="create_candidate_form">
                            {% csrf_token %}

                            <input value="{{ request.user.pk }}" name="created_by" hidden >
                            <input value="" id="id_oferta" name="job_offer" hidden >
                                         
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2" >
                                        <label class="control-label" style="margin-top: 5px;">Correo</label>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <input  type="email" placeholder="Escribe el correo" class="form-control" name="email" minlength="6" required />
                                        <div class="invalid-feedback" id="error_email">
                                            invalid
                                         </div>
                                    
                                    </div>
                                </div>
                            </div>
    
                                 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2" >
                                        <label class="control-label" style="margin-top: 5px;">Nombre</label>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <input type="text" placeholder="" class="form-control" name="first_name"  minlength="6" required />
                                        <div class="invalid-feedback" id="error_first_name">
                                            invalid
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2" >
                                        <label class="control-label" style="margin-top: 5px;">Apellido</label>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <input type="text" placeholder="" class="form-control" name="last_name" minlength="6" required />
                                        <div class="invalid-feedback" id= "error_last_name">
                                            invalid
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>
                            

                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2" >
                                        <label class="control-label" style="margin-top: 5px;">Avatar</label>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <input type="file" name="avatar" accept="image/*" required />
                                        <div class="invalid-feedback" id= "error_avatar">
                                            invalid
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2" >
                                        <label class="control-label" style="margin-top: 5px;">CV</label>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <input type="file" class="form-control-file" name="cv" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf" required>
                                        <div class="invalid-feedback" id= "error_cv">
                                            invalid
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>

                            
                       
                            
                            <input type="submit" class="btn btn-success" id="submitBtn" value="Aceptar" />
                            
                           
                        </form>
    
                        <!-- /form -->
                        
                    </div>
                    
                </div>
                </div>
            </div>	
    
	 </div>




	 <div class="card-body">
		 <div class="table-responsive">
			 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				 <thead>
					 <tr>
						 <th>Titulo</th>
                         <th>Empesa</th>
                         <th>Ciudad</th>
                         <th>Salario</th>	
                         <th>Agregar Candidato</th>					 
					 </tr>
				 </thead>
				 
				 <tbody>
					 {% for offer in job_offers %}
						<tr>
							<td>{{ offer.job_title }}</td>
							

							<td>{{ offer.company }}</td>
							
						
							<td>{{ offer.city }}</td>
						
							<td>{{ offer.salary }}</td>

                            <td> 	
                            <button type="button" class="btn btn-primary" onclick="send_oferta('{{ offer.id }}');" data-toggle="modal" data-target="#exampleModal">
                                +
                            </button>
                        </td>
							
						</tr>
                        
					 {% endfor %}
					 
					
				 </tbody>
			 </table>
		 </div>
	 </div>
 </div>
{% endblock %}

{% block PageLevelScripts %}

<script type="text/javascript">
let input_link = document.getElementById("link_candidate_copy");
function send_oferta(oferta){
    let input_oferta = document.getElementById('id_oferta');
    input_oferta.value = oferta;
    
}


 function CreateCandidate(e){
    input_link.value = '';
    e.preventDefault();
    cleanErrors();
    formData = new FormData( $('#create_candidate_form')[0]);
    formData.append('csrfmiddlewaretoken','{{ csrf_token }}' );
    console.log(formData);
	url = "{% url 'CreateCandidate' %}"
    $.ajax({
        url: url, // takes url of parent tempalte  
        type: "POST",
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        //dataType: 'json', // Formato de datos que se espera en la respuesta
        
        success: function (data) {  

            link = data.message;
            base_url = data.base_url+"?invitation=" + link
            $('#exampleModal').modal('hide');     
            ModalLinkCandidate(base_url);
           
            //location.reload();
         },
        
        error: function (response, status){
            errors = response['responseJSON'].message;
             for (let key in errors) {
                div_error = document.getElementById('error_'+ key);
                div_error.innerHTML  = errors[key];
                div_error.style.display = "block";    
              }          
        },
 

     });

    function cleanErrors(){
        div_errors = document.getElementsByClassName("invalid-feedback");
        console.log(div_errors);
        for(let el of div_errors){
            el.style.display = "none";
        }      
    }

}

function ModalLinkCandidate(url){
    $('#linkCandidate').modal('toggle')
    input_link.value =  url;
}

function BtnCopyLink(){

    input_link .select();
    input_link.setSelectionRange(0, 99999);
    document.execCommand("copy");
    location.reload();

}

</script>
{% endblock PageLevelScripts %}